<?xml version='1.0' encoding='utf-8'?>
<widget id="com.faveu.FaveU" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FaveU</name>
    <description>
        Entertaining App.
    </description>
    <author email="faveu@faveu.com" href="http://www.faveu.com">
        Windbowl Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <!-- <access origin="http://localhost:3000/*" /> -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="https://www.faveu.com/*" />
    <!-- <allow-navigation href="http://localhost:3000/*" /> -->
    <allow-navigation href="*://*.faveu.com/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="87" src="res/icon/ios/icon-512@2x.png" width="87" />
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="onesignal-cordova-plugin" spec="^2.2.4" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
</widget>
